body {
   font-size: .8em !important;
}
.button {
   font-size: .8em !important;
}
.ui-button-text {
   font-size: inherit !important;
}
div.thumbnail {
  position: relative;
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  cursor: crosshair;
}
img.thumbnail {
  margin-left: auto;
  margin-right: auto;
}
.atorigin {
  position: absolute;
  top: 10px;  /* thumbnail.div's padding */
  left: 10px;
}
.caption {
    text-align: center;
}
.subcaption {
    text-align: center;
    font-size: 8px;
}
.selected { background: #9999ff; }
#rightPanel {
    float: right;
    width: 350px;
    margin: auto;
    border: 1px solid;
    padding: 5px;
    margin-left: 5px;
    display: none;
}
.left { float: left; }
.right { float: right; }
.hidden { display: none; }
.invalid {
    color: red;
}