body {
   font-size: .8em !important;
   font-family: sans-serif;
}
.button {
   font-size: .8em !important;
}
.ui-button-text {
   font-size: inherit !important;
}
div.thumbnail {
  position: relative;
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  cursor: crosshair;
}
img.thumbnail {
  margin-left: auto;
  margin-right: auto;
}
.atorigin {
  position: absolute;
  top: 10px;  /* thumbnail.div's padding */
  left: 10px;
}
.caption {
    text-align: center;
}
.subcaption {
    text-align: center;
    font-size: 8px;
}

#rightPanel {
    float: right;
    width: 420px;
    margin: auto;
    margin-left: 5px;
    border: 2px solid teal;
    border-radius: 10px; 
    padding: 5px;
    display: block;
}

.subpanel {
border: 2px solid teal;
border-radius: 10px;
padding: 2px;
padding-top: 0;
padding-left: 4px;
margin-bottom:4px;
float:left;
padding-right:4px;
width:97%;
}

.left { float: left; }
.right { float: right; }
.hidden { display: none; }
.invalid {
    color: black;
}

.lockcontrol{float:right;margin:3px;}

#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }

tr.odd { background:  #E2E4FF; }
tr.even  { background:  white;  }
#existingTable .ui-selected { background: #F39814; color: white; }


​.lockcontrol {
    float: right;
    margin:3px;
}​

legend { font-weight: bold}

#deprecate-button{margin:3px; float:right}
