.collapse_button {
   color: black;
   cursor: pointer;
}
.collapse_button_closed:before {
   content: '\025b6 ';
   cursor: pointer;
}
.collapse_button_open:before {
   content: '\025bc ';
   cursor: pointer;
}
