.grabbing { cursor: url(/static/images/zoom/closedhand.cur), default !important; }
.hand { cursor: url(/static/images/zoom/openhand.cur), default !important; }
.pointer { cursor: default !important; }

