body {
    font-family: sans-serif;
    font-size: small;
}
.bin_label {
    font-family: sans-serif;
    font-size: small;
    margin-left: 40px;
    margin-top: 0px;
}
.ui-button-text {
    font-size: small !important;
}
.tbl {
    padding-left: 4px;
    padding-right: 4px;
    font-family: monospace;
}
.tbl_even {
    background: #aaaaaa;
}
.metadata_key {
    font-style: italic;
}
.metadata_value {
}
.footer {
  clear: both;
  text-align: center;
  font-family: sans-serif;
  font-size: 0.9em;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
}
img.logo {
  height: 50px;
  padding: 5px;
}
#mosaic_pager {
  float: left;
  margin-left: 0px;
  margin-top: 15px;
  font-size: small;
  text-align: middle;
}
#roi_image {
  margin-right: 0px;
  margin-top: 15px;
}
#date_label {
  font-style: bold;
  width: 10em;
}
.target_image {
  float: right;
  text-align: right;
}
.major {
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: gray;
  padding: 8px;
}
