body {
    font-family: sans-serif;
    font-size: small;
}
.bin_label {
    font-family: sans-serif;
    font-size: small;
    margin-left: 40px;
    margin-top: 0px;
}
.ui-button-text {
    font-size: small !important;
}