.collapse_button {
   color: gray;
   cursor: pointer;
   font-size: 10pt;
   font-weight: normal;
}
.collapse_button_closed:before {
   content: '\025b6 ';
   cursor: pointer;
}
.collapse_button_open:before {
   content: '\025bc ';
   cursor: pointer;
}
