.imagepager_nodisplay {
    display: none;
}
.imagepager_placeholder {
    background-color: #999999;
    background-image: url('images/ajax-loader_small.gif');
    background-repeat: no-repeat;
    background-position: center;
}
.imagepager_404 {
    background-color: #999999;
    background-image: url('images/x-mark_32.gif');
    background-repeat: no-repeat;
    background-position: center;
}
.imagepager_frame {
    overflow: hidden;
    margin: 2px;
}
.imagepager_arrow {
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
    border: 1px solid rgba(255,255,255,0);
}
.imagepager_arrow:hover {
    opacity: 1.0;
    border: 1px solid #cccccc;
}
.imagepager_left {
    background-image: url('images/left_arrow.png');
}
.imagepager_right {
    background-image: url('images/right_arrow.png');
}
.imagepager_paging {
    font-size: 12px;
    text-align: center;
}