{% extends "master.html" %}
{% block title %}{{hit.bin_pid}}{% endblock %}
{% block head %}
  {{ super() }}
    <script type="text/javascript">
$(document).ready(function() {
    $('#mosaic_pager').bin_page('{{hit.bin_pid}}','{{hit.time_series}}');
});
    </script>
{% endblock head %}
{% block content %}
  <div class="major h1">Sample bin {{hit.bin_pid}}</div>
  <div id="mosaic_pager" class="major"></div>
  <div style="clear: both"></div>
  <div class="major inline">
    <div>
      <b>{{hit.date}}</b>
      (<a href="/{{hit.time_series}}/dashboard/pid/{{hit.bin_pid}}">Show in time series</a>)
    </div>
    <div class="metadata_key">context</div>
{% for v in context %}
    <div>{{v}}</div>
{% endfor %}
{% for k,v in properties %}
  <div>
    <span class="metadata_key">{{k}}</span>
    <span class="metadata_value">{{v}}</span>
  </div>
{% endfor %}
  </div>
<table class="major">
<tr class="tbl">
  <th class="tbl">#/trigger</th>
  <th class="tbl">pid</th>
  <th class="tbl">size</th>
  <th class="tbl">fl. L/H</th>
  <th class="tbl">scat. L/H</th>
</tr>
{% for target in targets %}
  <tr class="tbl">
    <td class="tbl">{{target.targetNumber}}/{{target.trigger}}</td>
    <td class="tbl"><a href="{{target.pid}}.html">{{target.pid}}</a></td>
    <td class="tbl">{{target.width}}x{{target.height}}</td>
    <td class="tbl">{{"%.2f/%.2f"|format(target.fluorescenceLow,target.fluorescenceHigh)}}</td>
    <td class="tbl">{{"%.2f/%.2f"|format(target.scatteringLow,target.scatteringHigh)}}</td>
  </tr>
{% endfor %}
</table>
{% endblock content %}
