<html>
<head>
    <title>Sample Bin {{hit.bin_pid}}</title>
    <!-- jQuery -->
    <script type="text/javascript" src="{{static}}js/jquery-1.5.1.min.js"></script>
    <!-- jQuery UI -->
    <script type="text/javascript" src="{{static}}js/jquery-ui-1.8.14.custom.min.js"></script>
    <link type="text/css" href="{{static}}css/smoothness/jquery-ui-1.8.14.custom.css" rel="Stylesheet" /> 
    <!-- image_pager plugin -->
    <script type="text/javascript" src="{{static}}image_pager.js"></script>
    <link type="text/css" href="{{static}}image_pager.css" rel="Stylesheet"/>
    <!-- OII utilities and CSS -->
    <script type="text/javascript" src="{{static}}js/oii-utils.js"></script>
    
    <!-- this demo -->
    <link type="text/css" href="{{static}}dashboard.css" rel="Stylesheet"/>
    <script type="text/javascript" src="{{static}}jquery_radio.js"></script>
    <script type="text/javascript" src="{{static}}mosaic_pager.js"></script>
    <script type="text/javascript" src="{{static}}bin.js"></script>
    <script type="text/javascript">
$(document).ready(function() {
    $('#mosaic_pager').bin_page('{{hit.bin_pid}}');
});
    </script>
</head>
<body>
  <h1>{{hit.bin_pid}}</h1>
  <div id="mosaic_pager"></div>
  <div style="clear: both"></div>
  <h2>{{hit.date}}</h2>{% for v in context %}
<div>{{v}}</div>{% endfor %}{% for k,v in properties %}
  <div><span>{{k}}</span> <span>{{v}}</span></div>{% endfor %}<table>
<tr class="tbl">
  <th class="tbl">pid</th>
  <th class="tbl">trigger</th>
  <th class="tbl">size</th>
  <th class="tbl">fl. L/H</th>
  <th class="tbl">scat. L/H</th>
</tr>{% for target in targets %}
  <td class="tbl"><a href="{{target.pid}}.html">{{target.pid}}</a></td>
  <td class="tbl">{{"%d"|format(target.trigger)}}</td>
  <td class="tbl">{{target.width}}x{{target.height}}</td>
  <td class="tbl">{{"%.2f/%.2f"|format(target.fluorescenceLow,target.fluorescenceHigh)}}</td>
  <td class="tbl">{{"%.2f/%.2f"|format(target.scatteringLow,target.scatteringHigh)}}</td>
</tr>
{% endfor %}
</body>
</html>

