{% extends "master.html" %}
{% block title %}Target ROI {{hit.target_pid}}{% endblock %}
{% block head %}
  {{ super() }}
    <script type="text/javascript">
$(document).ready(function() {
    $('#roi_pager').target_image('{{hit.target_pid}}',{{properties.height}},{{properties.width}});// 90 degree rotation
});
    </script>
{% endblock head %}
{% block content %}
  <h1>{{hit.target_pid}}</h1>
  <div id="roi_pager"></div>
  <div style="clear: both"><a href="{{hit.bin_pid}}.html">Show sample bin</a></div>
</div>
{% for k,v in target %}
  <div>
    <span class="metadata_key">{{k}}</span>
    <span class="metadata_value">{{v}}</span>
  </div>
{% endfor %}
{% endblock content %}
