{% extends "master.html" %}
{% block title %}Target ROI {{hit.target_pid}}{% endblock %}
{% block head %}
  {{ super() }}
    <script type="text/javascript">
$(document).ready(function() {
    $('#roi_pager')
        .target_image('{{hit.target_pid}}',{{properties.height}},{{properties.width}});// 90 degree rotation
});
    </script>
{% endblock head %}
{% block content %}
  <div class="major h1">Target {{hit.target_pid}}</div>
  <div id="roi_pager" class="major inline"></div>
  <br class="break">
  <div class="major inline" style="clear: both">{{hit.date}} (<a href="{{hit.bin_pid}}.html">Show sample bin</a>)</div>
  <br class="break">
  <div class="major inline" style="clear: both">
{% for k,v in target %}
  <div>
    <span class="metadata_key">{{k}}</span>
    <span class="metadata_value">
      {% if k in ['next','previous','binID'] %} <!-- FIXME hardcoded -->
        <a href="{{v}}.html">{{v}}</a>
      {% else %}
        {{v}}
      {% endif %}
    </span>
  </div>
{% endfor %}
  </div>
{% endblock content %}
