{% extends "master.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
<script type="text/javascript">
$(document).ready(function() {
    {% if pid %}
        $('#timeseries').timeseries('{{pid}}', '{{time_series}}');
    {% else %}
        $('#timeseries').timeseries(undefined, '{{time_series}}');
    {% endif %}
});
</script>
{% endblock head %}
{% block content %}
<div id="title" class="major h1">
  {{title}}
  <div class="dashboard_links">
Other timeseries:
<a href="http://ifcb-data.whoi.edu/saltpond">Saltpond</a>
<a href="http://ifcb-data.whoi.edu/Healy1101">Healy 11/01</a>
  </div>
</div>
<div id="timeseries"></div>
{% endblock content %}
