<html>
<head>
    <title>{{title}}</title>
    <!-- jQuery -->
    <script type="text/javascript" src="{{static}}js/jquery-1.5.1.min.js"></script>
    <!-- jQuery UI -->
    <script type="text/javascript" src="{{static}}js/jquery-ui-1.8.14.custom.min.js"></script>
    <link type="text/css" href="{{static}}css/smoothness/jquery-ui-1.8.14.custom.css" rel="Stylesheet" /> 
    <!-- image_pager plugin -->
    <script type="text/javascript" src="{{static}}image_pager.js"></script>
    <link type="text/css" href="{{static}}image_pager.css" rel="Stylesheet"/>
    <!-- timeline -->
    <script type="text/javascript" src="{{static}}timeline/timeline.js"></script>
    <link rel="stylesheet" type="text/css" href="{{static}}timeline/timeline.css"/>
    <!-- OII utilities and CSS -->
    <script type="text/javascript" src="{{static}}js/oii-utils.js"></script>
    
    <!-- this demo -->
    <link type="text/css" href="{{static}}dashboard.css" rel="Stylesheet"/>
    <link type="text/css" href="{{static}}demotime.css" rel="Stylesheet"/>
    <script type="text/javascript" src="{{static}}jquery_timeline.js"></script>
    <script type="text/javascript" src="{{static}}jquery_radio.js"></script>
    <script type="text/javascript" src="{{static}}mosaic_pager.js"></script>
    <script type="text/javascript" src="{{static}}timeseries.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    {% if pid %}
        $('#timeseries').timeseries('{{pid}}');
    {% else %}
        $('#timeseries').timeseries();
    {% endif %}
});
</script>
</head>
<body>
<h1>{{title}}</h1>
<div id="timeseries"></div>
</body>
</html>
