<h1 class="page-header">API Keychain</h1>

<div class="row" ng-if="newkey"><div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">API Key Generation Tool</h3>
        </div>
        <div ng-show="!keyview" class="panel-body">
            <div class="row ifcbformrow"><div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon">Key Name</span>
                    <input type="text" class="form-control" ng-model="name" placeholder="identifier for this key">
                </div>
            </div></div>
            <div class="row ifcbformrow"><div class="col-md-11">
                <select class="form-control-lf" ng-model="user" ng-options="user.id as (user.first_name+' '+user.last_name) for user in users.list">
                    <option value="">-- Select User --</option>
                </select>
            </div></div>
            <div>&nbsp;</div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm" ng-disabled="!user || !name" ng-confirm-click="generateKey(user,name)">Generate Key</button>
                <button type="button" class="btn btn-default btn-sm" ng-confirm-click="cancelKey()">Cancel</button>
            </div>
        </div>
        <div ng-show="keyview" class="panel-body">
            <div>Here is your new API key. This will be displayed only once.<br>
            <strong>{{keyview}}</strong></div>
            <div>&nbsp;</div>
            <button type="button" class="btn btn-primary btn-sm" ng-confirm-click="cancelKey()">Got It!</button>
        </div>
    </div>
</div></div>


<div class="text-right" ng-if="!newkey">
    <button type="button" class="btn btn-primary" ng-click="createKey()">Add New Key</button>
</div>

<table class="table">
    <thead>
      <tr>
        <th>Key&nbsp;Name</th>
        <th>User</th>
        <th>Created</th>
        <th>Last&nbsp;Used</th>
        <th>Access</th>
      </tr>
    </thead>
    <tbody>
        <tr ng-repeat="key in keychain">
            <td><strong>{{key.name}}</strong></td>
            <td>{{key.user.first_name}} {{key.user.last_name}}</td>
            <td>{{key.datetime_created}}</td>
            <td>{{key.datetime_last_used}}</td>
            <td>
                <button type="button" ng-disabled="!lockme" class="btn btn-default btn-sm" ng-confirm-message="Are you sure you want to revoke the '{{key.name}}' API key?" ng-confirm-condition="true" ng-confirm-click="revokeKey(key)">Revoke</button>
            </td>
        </tr>
    </tbody>
</table>

