

<h1 class="page-header">IFCB Users</h1>

<div ng-if="alert" class="alert alert-danger">
    {{alert}}
</div>

<div class="row" ng-if="userpw"><div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Password Reset</h3>
        </div>
        <div class="panel-body">
            <i>Update password for {{userpw.email}}.</i>
            <div class="passwordinput"><input type="password" class="form-control" placeholder="password must be 8 characters or longer" ng-model="userpw.password" ng-minlength="8" ng-maxlength="255" required></div>
            <div><div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm" ng-disabled="!userpw.password" ng-click="pushPassword()">Set Password</button>
                <button type="button" class="btn btn-default btn-sm" ng-confirm-click="cancelPassword()">Cancel</button>
            </div></div>
        </div>
    </div>
</div></div>

<div class="text-right">
    <button type="button" class="btn btn-primary" ng-disabled="newuser" ng-click="addNewUser()">Add New User</button>
</div>

<table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th></th>
          </tr>
        </thead>
        <tbody ng-repeat="user in users">
            <tr ng-if="!user.edit" ng-class="{'text-muted': user.disabled}">
                <td><strong>{{user.first_name}} {{user.last_name}}</strong></td>
                <td>{{user.email}}</td>
                <td><div ng-repeat="role in user.roles">{{role.name}}</div></td>
                <td>
                    <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default btn-sm" ng-click="editUser(user)">Edit</button>
                    <button type="button" class="btn btn-default btn-sm" ng-click="setPassword(user)">Set Password</button>
		    <button ng-if="!isAdmin(user)" type="button" class="btn btn-default btn-sm" ng-confirm-message="Are you sure you want to grant administrative privileges to {{user.first_name}} {{user.last_name}}?" ng-confirm-condition="true" ng-confirm-click="promoteUser(user)">Promote</button>
		    <button ng-if="isAdmin(user)" type="button" class="btn btn-default btn-sm" ng-confirm-message="Are you sure you want to revoke administrative privileges for {{user.first_name}} {{user.last_name}}?" ng-confirm-condition="true" ng-confirm-click="demoteUser(user)">Demote</button>
                    <button ng-if="user.is_enabled" type="button" class="btn btn-default btn-sm" ng-confirm-message="Are you sure you want to disable {{user.first_name}} {{user.last_name}}?" ng-confirm-condition="true" ng-confirm-click="enableUser(user,false)">Disable</button>
                    <button ng-if="!user.is_enabled" type="button" class="btn btn-warning btn-sm" ng-confirm-message="Are you sure you want to enable {{user.first_name}} {{user.last_name}}?" ng-confirm-condition="true" ng-confirm-click="enableUser(user,true)">Enable</button>
		    <button type="button" class="btn btn-default btn-sm" ng-confirm-message="Are you sure you want to delete {{user.first_name}} {{user.last_name}}?" ng-confirm-condition="true" ng-confirm-click="deleteUser(user)">Delete</button>
                    </div>
                </td>
            </tr>
	    <!-- edit mode -->
	    <tr ng-if="user.edit">
                <td>
                    <div class="row">
                        <div class="col-md-12"><input type="text" class="form-control" placeholder="First Name" ng-model="user.first_name" ng-minlength="3" ng-maxlength="255" required></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12"><input type="text" class="form-control" placeholder="Last Name" ng-model="user.last_name" ng-minlength="3" ng-maxlength="255" required></div>
                    </div>
                </td>
                <td><input type="email" class="form-control" placeholder="jsmith@domain.com" ng-model="user.email"></td>
                <td><div ng-repeat="role in user.roles">{{role.name}}</div></td>
                <td>
                  <div class="btn-group pull-right btn-sm">
                    <button type="button" class="btn btn-primary btn-sm" ng-disabled="!user.first_name || !user.last_name || !user.email" ng-click="saveUser(user)">Save</button>
                    <button type="button" class="btn btn-default btn-sm" ng-confirm-click="cancelUser(user)">Cancel</button>
                  </div>
                </td>
	    </tr>
        </tbody>
</table>

<!-- <p><pre>roles = {{roles | json}}</pre></p>
<p><pre>users = {{users.list | json}}</pre></p>
<p><pre>editing = {{editing | json}}</pre></p> -->



