{% extends "master.html" %}
{% block title %}{{bin_pid}}{% endblock %}
{% block head %}
  {{ super() }}
    <script type="text/javascript">
$(document).ready(function() {
    // ersatz history support for IE9, see #1857 for discussion
    function historyPushState(state, pid, url) {
        if(!!(window.history && history.pushState)) {
            window.history.pushState(state, pid, url)
        } else {
            window.location.href = url;
        }
    }
    var bin_pid = '{{bin_pid}}';
    var time_series = '{{time_series}}';
    function goToBin(bin_pid, pushState) {
        if(pushState == undefined || pushState) {
            historyPushState({bin_pid:bin_pid}, bin_pid, bin_pid+'.html');
        }
        $('#bin_pid').empty().append(bin_pid);
        $('#metadata_container').bin_metadata(bin_pid, time_series);
        $('#targets_container').bin_targets(bin_pid);
        $('#fixity_container').bin_files(bin_pid, time_series);
    }
    $('#bin_view').bin_page(bin_pid, time_series);
    $('#bin_view')
        .bind('goto_bin', function(event, bin_pid) {
            $('#bin_view').trigger('drawBinDisplay',[bin_pid]);
            goToBin(bin_pid);
        });
    goToBin(bin_pid, 0);
    window.onpopstate = function(event) {;
        var bin_pid = event.state.bin_pid;
        $('#bin_view').trigger('drawBinDisplay',[bin_pid]);
        goToBin(bin_pid, 0);
    }
});
    </script>
{% endblock head %}
{% block content %}
  <div class="major h1">Sample bin <span id="bin_pid"></span></div>
  <div id="bin_view" class="major"></div>
  
<div style="clear: both"></div>
<!-- metadata -->
<div id="metadata_container"></div>

<div style="clear:both"></div>
<!-- fixity -->
<div id="fixity_container"></div>

<div style="clear:both"></div>
<!-- targets -->
<div id="targets_container"></div>
{% endblock content %}
