{% extends "master.html" %}
{% block title %}{{bin_pid}}{% endblock %}
{% block head %}
  {{ super() }}
    <script type="text/javascript">
$(document).ready(function() {
    $('#mosaic_pager').bin_page('{{bin_pid}}','{{time_series}}');
});
    </script>
{% endblock head %}
{% block content %}
  <div class="major h1">Sample bin {{bin_pid}}</div>
  <div id="mosaic_pager" class="major"></div>
  <div style="clear: both"></div>
  <div class="major inline">
    <div>
      <b>{{date}}</b>
      (<a href="/{{time_series}}/dashboard/{{bin_pid}}">Show in time series</a>)
    </div>
    <div class="metadata_key">context</div>
{% for v in context %}
    <div>{{v}}</div>
{% endfor %}
{% for k,v in properties %}
  <div>
    <span class="metadata_key">{{k}}</span>
    <span class="metadata_value">{{v}}</span>
  </div>
{% endfor %}
  </div>

<!-- fixity -->
<div>
<table class="major">
<tr class="tbl">
  <th class="tbl">filename</th>
  <th class="tbl">length</th>
  <th class="tbl">sha1</th>
  <th class="tbl">fixed</th>
  <th class="tbl">local path</th>
</tr>
{% for file in files %}
  <tr class="tbl">
    <td class="tbl"><a href="{{time_series}}/{{file.filename}}">{{file.filename}}</a></td>
    <td class="tbl">{{file.length}}</td>
    <td class="tbl">{{file.sha1}}</td>
    <td class="tbl">{{file.fix_time}}</td>
    <td class="tbl">{{file.local_path}}</td>
  </tr>
{% endfor %}
</table>
</div>

<!-- targets -->
<div><table class="major">
<tr class="tbl">
  <th class="tbl">#/trigger</th>
  <th class="tbl">pid</th>
  <th class="tbl">size</th>
</tr>
{% for target in targets %}
  <tr class="tbl">
    <td class="tbl">{{target['targetNumber']}}/{{target['trigger']}}</td>
    <td class="tbl"><a href="{{target['pid']}}.html">{{target['pid']}}</a></td>
    <td class="tbl">{{target['width']}}x{{target['height']}}</td>
  </tr>
{% endfor %}
</table>
</div>
{% endblock content %}
