<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!-- this template uses the following context parameters:
* static - the URL of static content (including its trailing slash)
* time_series - the time series label
* all_metrics - list of metrics that can be viewed
* pid - (optional) bin to initially display
* page_title - the window title
* title - the title to display in the title box
* all_series - a list of tuples (time series label, time series name)
* base_url - request.url_root from Flask
-->
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
{% block head %}
    <!-- jQuery -->
    <script type="text/javascript" src="{{static}}lib/jquery-1.9.1.min.js"></script>
    <!-- jQuery UI -->
    <script type="text/javascript" src="{{static}}lib/jquery-ui-1.11.4.js"></script>
    <link type="text/css" href="{{static}}css/smoothness/jquery-ui-1.11.4.min.css" rel="Stylesheet" />
    <!-- image_pager plugin -->
    <script type="text/javascript" src="{{static}}image_pager.js"></script>
    <link type="text/css" href="{{static}}image_pager.css" rel="Stylesheet"/>
    <!-- timeline -->
    <script type="text/javascript" src="{{static}}timeline/timeline.js"></script>
    <link rel="stylesheet" type="text/css" href="{{static}}timeline/timeline.css"/>
    <!-- flot -->
    <script type="text/javascript" src="{{static}}lib/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="{{static}}lib/flot/jquery.flot.time.js"></script>
    <script type="text/javascript" src="{{static}}lib/flot/jquery.flot.navigate.js"></script>
    <script type="text/javascript" src="{{static}}lib/flot/jquery.flot.selection.js"></script>
    <!-- filesize -->
    <script type="text/javascript" src="{{static}}/lib/filesize.min.js"></script>

    <!-- OII utilities and CSS -->
    <script type="text/javascript" src="{{static}}js/oii-utils.js"></script>

    <!-- IFCB Dashboard -->
    <link type="text/css" href="{{static}}dashboard.css" rel="Stylesheet"/>
    <link type="text/css" href="{{static}}timeseries.css" rel="Stylesheet"/>
    <link type="text/css" href="{{static}}collapsing.css" rel="Stylesheet"/>
    <script type="text/javascript" src="{{static}}jquery_timeline.js"></script>
    <script type="text/javascript" src="{{static}}jquery.timeago.js"></script>
    <script type="text/javascript" src="{{static}}jquery_radio.js"></script>
    <!--script type="text/javascript" src="{{static}}disable_selection.js"></script-->
    <script type="text/javascript" src="{{static}}params.js"></script>
    <script type="text/javascript" src="{{static}}collapsing.js"></script>
    <script type="text/javascript" src="{{static}}closebox.js"></script>
    <script type="text/javascript" src="{{static}}mosaic_pager.js"></script>
    <script type="text/javascript" src="{{static}}bin_actions.js"></script>
    <script type="text/javascript" src="{{static}}bin_view.js"></script>
    <script type="text/javascript" src="{{static}}bin.js"></script>
    <script type="text/javascript" src="{{static}}bin_tags.js"></script>
    <script type="text/javascript" src="{{static}}bin_comments.js"></script>
    <script type="text/javascript" src="{{static}}target.js"></script>
    <script type="text/javascript" src="{{static}}scatter.js"></script>
    <script type="text/javascript" src="{{static}}timeseries.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $.getJSON('/login_status', function(r) {
        if(r.logged_in) {
            $('#login').empty().html('<a href="/sec/logout">Log out</a>')
                .find('a:first').on('click',function(e) {
                    e.preventDefault(); // yeah, I know this is bad
                    window.location.assign('/sec/logout?next=' + window.location);
                });
        } else {
            $('#login').empty().html('<a href="/sec/logout">Log in</a>')
                .find('a:first').on('click',function(e) {
                    e.preventDefault();
                    window.location.assign('/sec/login?next=' + window.location);
                });
        }
        if(r.admin) {
            $('#admin').empty().html('<a href="/admin">Admin</a>');
        } else {
            $('#admin').empty().html('<a href="/sec/login?next=/admin">Admin</a>');
        }
    });
});
</script>
{% endblock head %}
</head>
<body>
  <div id="content">
<!-- start content block -->
{% block content %}{% endblock %}
<!-- end content block -->
    <div class="pre_footer"></div>
  </div>
<!-- start footer -->
  <div class="footer">
    <a href="http://www.nsf.gov/"><img class="logo" src="{{static}}images/nsf.png"></a>
    <a href="http://www.nasa.gov/"><img class="logo" src="{{static}}images/nasa.png"></a>
    <a href="http://www.onr.navy.mil/"><img class="logo" src="{{static}}images/onr.png"></a>
    <a href="http://www.moore.org/"><img class="logo" src="{{static}}images/gbmf.png"></a>
    <a href="http://www.nopp.org/"><img class="logo" src="{{static}}images/nopp.png"></a>
    <br>
    <a href="mailto:hsosik@whoi.edu">Heidi Sosik</a>, <a href="mailto:rolson@whoi.edu">Robert Olson</a>, <a href="mailto:jfutrelle@whoi.edu">Joe Futrelle</a> @ <a href="http://www.whoi.edu/">Woods Hole Oceanographic Institution</a>
    <br>
    Version 4.2a - 2 December 2015 -
    <a href="/about">About</a>
    <a href="https://beagle.whoi.edu/redmine/projects/ifcb-web/wiki">User guide</a>
    <!-- FIXME makes assumptions about URLs -->
    <span id="login"><a href="/sec/login">Log in</a></span> <span id="admin"><a href="/sec/login?next=/admin">Admin</a></span>
    <a href="/api">API</a>
    <!--<a href="help/">About</a> /
    <a href="help.html" target="_none">Help</a-->
  </div>
<!-- end footer -->
</body>
</html>

