<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
    <!-- jQuery -->
    <script type="text/javascript" src="{{static}}lib/jquery-1.5.1.min.js"></script>
    <!-- jQuery UI -->
    <script type="text/javascript" src="{{static}}lib/jquery-ui-1.8.14.custom.min.js"></script>
    <link type="text/css" href="{{static}}css/smoothness/jquery-ui-1.8.14.custom.css" rel="Stylesheet" />
    <!-- image_pager plugin -->
    <script type="text/javascript" src="{{static}}image_pager.js"></script>
    <link type="text/css" href="{{static}}image_pager.css" rel="Stylesheet"/>
    <!-- timeline -->
    <script type="text/javascript" src="{{static}}timeline/timeline.js"></script>
    <link rel="stylesheet" type="text/css" href="{{static}}timeline/timeline.css"/>
    <!-- D3 plotting -->
    <script type="text/javascript" src="{{static}}lib/d3.v3.min.js"></script>
    <!-- OII utilities and CSS -->
    <script type="text/javascript" src="{{static}}js/oii-utils.js"></script>

    <!-- IFCB Dashboard -->
    <link type="text/css" href="{{static}}dashboard.css" rel="Stylesheet"/>
    <link type="text/css" href="{{static}}timeseries.css" rel="Stylesheet"/>
    <link type="text/css" href="{{static}}collapsing.css" rel="Stylesheet"/>
    <script type="text/javascript" src="{{static}}jquery_timeline.js"></script>
    <script type="text/javascript" src="{{static}}jquery.timeago.js"></script>
    <script type="text/javascript" src="{{static}}jquery_radio.js"></script>
    <!--script type="text/javascript" src="{{static}}disable_selection.js"></script-->
    <script type="text/javascript" src="{{static}}collapsing.js"></script>
    <script type="text/javascript" src="{{static}}closebox.js"></script>
    <script type="text/javascript" src="{{static}}mosaic_pager.js"></script>
    <script type="text/javascript" src="{{static}}bin.js"></script>
    <script type="text/javascript" src="{{static}}target.js"></script>
    <script type="text/javascript" src="{{static}}timeseries.js"></script>
    {% endblock head %}
</head>
<body>
  <div id="content">
<!-- start content block -->
{% block content %}{% endblock %}
<!-- end content block -->
    <div class="pre_footer"></div>
  </div>
<!-- start footer -->
  <div class="footer">
    <a href="http://www.nsf.gov/"><img class="logo" src="{{static}}images/nsf.png"></a>
    <a href="http://www.nasa.gov/"><img class="logo" src="{{static}}images/nasa.png"></a>
    <a href="http://www.onr.navy.mil/"><img class="logo" src="{{static}}images/onr.png"></a>
    <a href="http://www.moore.org/"><img class="logo" src="{{static}}images/gbmf.png"></a>
    <a href="http://www.nopp.org/"><img class="logo" src="{{static}}images/nopp.png"></a>
    <br>
    <a href="mailto:hsosik@whoi.edu">Heidi Sosik</a>, <a href="mailto:rolson@whoi.edu">Robert Olson</a>, <a href="mailto:jfutrelle@whoi.edu">Joe Futrelle</a> @ <a href="http://www.whoi.edu/">Woods Hole Oceanographic Institution</a>
    <br>
    Version 3.0alpha - August 2014 -
    <a href="/about">About</a>
    <a href="https://beagle.whoi.edu/redmine/projects/ifcb-web/wiki">User guide</a>
    <!-- FIXME makes assumptions about URLs -->
    <a href="/admin">Admin</a>
    <a href="/api">API</a>
    <!--<a href="help/">About</a> /
    <a href="help.html" target="_none">Help</a-->
  </div>
<!-- end footer -->
</body>
</html>

