{% extends "master.html" %}
<!--
this Jinja template takes the following params:
- {{static}} - URL of static content
- {{endpoint}} - a JSON endpoint that returns ROI PID / x / y cols
- {{x_axis}} - x axis var
- {{y_axis}} - y axis var
- {{x_axis_label}} - x axis label
- {{y_axis_label}} - y axis label
-->
{% block head %}
  {{ super() }}
  <!-- flot -->
  <script type="text/javascript" src="{{static}}lib/flot/jquery.flot.js"></script>
  <script type="text/javascript" src="{{static}}lib/flot/jquery.flot.selection.js"></script>
{% endblock head %}
{% block content %}
<div>
<div id="title" class="major h1"></div>
<div id="single_roi" class="major target_image"></div>
<div id="scatter" class="major" style="width:640px;height:480px"/>
</div>
<!-- end of content block FIXME debug -->
{% endblock content %}
