<!DOCTYPE html>
<!--
this Jinja template takes the following params:
- {{static}} - URL of static content
- {{endpoint}} - a JSON endpoint that returns ROI PID / x / y cols
- {{x_axis}} - x axis var
- {{y_axis}} - y axis var
- {{x_axis_label}} - x axis label
- {{y_axis_label}} - y axis label
-->
<html>
<head>
  <title>Test</title>
  <!-- jQuery -->
  <script type="text/javascript" src="{{static}}lib/flot/jquery.min.js"></script>
  <!-- flot -->
  <script type="text/javascript" src="{{static}}lib/flot/jquery.flot.js"></script>
  <script type="text/javascript" src="{{static}}lib/flot/jquery.flot.selection.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var plot_options = {
	series: {
	    points: {
		show: true,
		radius: 2,
	    }
	},
	grid: {
	    clickable: true,
	    hoverable: true,
	    autoHighlight: true
	},
	selection: {
	    mode: "xy",
	    color: "red"
	}
    };
    var ignoreNextClick = false;
    $("#scatter").append("Loading {{endpoint}} ..."); // FIXME
    var roi_pids = [];
    $.getJSON("{{endpoint}}", function(r) {
	console.log("Got JSON data");
	var point_data = [];
	$.each(r, function(ix, point) {
	    point_data.push([point.{{x_axis}}, point.{{y_axis}}]);
	    roi_pids.push(point.pid);
	});
	var plot_data = {
	    label: "{{endpoint}} {{x_axis_label}} x {{y_axis_label}}",
	    data: point_data,
	    color: "black",
	    points: {
		fillColor: "black"
	    },
	    highlightColor: "red"
	};
	$("#scatter").empty().plot([plot_data], plot_options);
    });
    $("#scatter").bind("plotselected", function(evt, ranges) {
	console.log(ranges);
	ignoreNextClick = true;
    });
    $("#scatter").bind("plotclick", function(evt, pos, item) {
	if(item && !ignoreNextClick) {
	    console.log(roi_pids[item.dataIndex]);
	}
	ignoreNextClick = false;
    });
})
</script>
</head>
<body>
<div id="main">
  <div id="scatter" style="height: 780px;width:1024px;float:left"></div>
</div>
</body>
</html>
