{% extends "master.html" %}
{% block title %}{{ts_label}}{% endblock %}
{% block head %}
  {{ super() }}
<script type="text/javascript">
$(document).ready(function() {
    $('thead tr:even').addClass('tbl_even');
    $('tbody tr:odd').addClass('tbl_even'); // sic
});
</script>
{% endblock %}
{% block content %}
<div class="major h1">
    {{ts_label}} bins tagged {{', '.join(tags)}}
</div>
<div id="results">
    <table class="major">
        <thead>
            <tr class="tbl">
                <th class="tbl">time</th>
                <th class="tbl">pid</th>
                <th class="tbl">tags</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="3">
                    {% if page > 1 %}
                        <a class="controlGray" href="{{prev}}">&#x25C0; Previous</a>
                    {% endif %}
                    {% if page > 1 and hasNext %}
                        <span class="controlGray"> | </span>
                    {% endif %}
                    {% if hasNext %}
                        <a class="controlGray" href="{{next}}">Next &#x25B6;</span>
                    {% endif %}
                </td>
            </tr>
        </tfoot>
        <tbody>
            {% for row in rows %}
            <tr class="tbl">
                <td class="tbl">{{row.time}}</td>
                <td class="tbl"><a href="{{row.pid}}.html">{{row.pid}}</a></td>
                <td>
                    {% for tag in row.tags %}<div class="tag inline">
                        <a href="/{{ts_label}}/search_tags/{{tag}}" class="tag_link">{{tag}}</a>
                    </div>{% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
