{% extends "master.html" %}
{% block title %}{{ts_label}}{% endblock %}
{% block head %}
  {{ super() }}
    <script type="text/javascript">
(function($) {
    $.fn.extend({
       tagQuery: function(ts_label, tags, page) {
           if(page == undefined) { page = 1; }
           return this.each(function () {
               var $this = $(this);
               tagString = tags.join();
               $.getJSON('/{{ts_label}}/api/search_tags/'+tagString+'/page/'+page, function(r) {
                   $.each(r, function(ix, row) {
                       var pid = row.pid;
                       var bin_tags = row.tags;
                       $this.find('tbody')
                        .append('<tr class="tbl">'+
                                    '<td class="tbl">'+row.time+'</td>'+
                                    '<td class="tbl"><a href="'+pid+'.html">'+pid+'</a></td>'+
                                    '<td class="tbl">'+bin_tags.join(', ')+'</td>'+
                                '</tr>');
                   });
                   $('tr:even').addClass('tbl_even');
               });
           });
       }
   });
})(jQuery);
$(document).ready(function() {
    var tags = [];
    {% for tag in tags %}
    tags.push('{{tag}}');
    {% endfor %}
    $('#results').tagQuery('{{ts_label}}',tags);
});
    </script>
{% endblock head %}
{% block content %}
<div>
    <div>ts_label = {{ts_label}}</div>
    <div id="results">
        <table class="major">
            <thead>
                <tr class="tbl">
                    <th class="tbl">time</th>
                    <th class="tbl">pid</th>
                    <th class="tbl">tags</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
{% endblock content %}
