{% extends "master.html" %}
{% block title %}{{pid}}{% endblock %}
{% block head %}
  {{ super() }}
    <script type="text/javascript">
$(document).ready(function() {
    $('#ro_bin_tags').binTags('{{ts_label}}','{{pid}}');
    $('#bin_tags').editableBinTags('{{ts_label}}','{{pid}}');
});
    </script>
{% endblock head %}
{% block content %}
<div>
    <div>ts_label = {{ts_label}}</div>
    <div>pid = {{pid}}</div>
    <div id="ro_bin_tags"></div>
    <div id="bin_tags"></div>
</div>
{% endblock content %}
