{% extends "master.html" %}
{% block title %}{{page_title}}{% endblock %}
{% block head %}
  {{ super() }}
<script type="text/javascript">
$(document).ready(function() {
    {% if pid %}
        $('#timeseries').timeseries('{{pid}}', '{{time_series}}');
    {% else %}
        $('#timeseries').timeseries(undefined, '{{time_series}}');
    {% endif %}
    $('#ts_menu').append('<option value="">Select time series</option>');
{% for ts,n in all_series %}
    $('#ts_menu').append('<option value="{{ts}}">{{n}}</option>');
{% endfor %}
    $('#ts_menu').change(function() {
        var v = $('#ts_menu option:selected').val();
        window.location = '{{base_url}}' + v;
    });
});
</script>
{% endblock head %}
{% block content %}
<div id="title" class="major">
  <div id="title_content">
    <div class="title">{{title|safe}}
        {% if tag %}
        bins tagged <a href="/{{time_series}}/search_tags/{{tag}}">{{tag}}</a>
        {% endif %}
        <div id="search" class="normal_font" style="float:right"></div>
    </div>
    <div class="dashboard_links">
      <select id="ts_menu"></select>
      <span>View <a href="{{base_url}}{{time_series}}/metrics.html">metrics</a>:
      {% for m in all_metrics %}
        <a href="{{base_url}}{{time_series}}/{{m}}.html">{{m}}</a>
      {% endfor %}
      </span>
      <span>See <a href="/{{time_series}}/activity">recent activity</a></span>
    </div>
  </div>
  <div>
    <div class="h2" id="timeline_title">Data volume by day</div>      
    <div id="timeline"></div>
  </div>
</div>
<div id="timeseries">
  <div id="date_label" class="major"></div>
  <div id="roi_image" class="major target_image"></div>
  <div id="bin_view" class="major"></div>
</div>
{% endblock content %}
