{% extends "master.html" %}
{% block title %}{{query}}{% endblock %}
{% block head %}
  {{ super() }}
<script type="text/javascript">
$(document).ready(function() {
    $('.timeago').timeago();
    $('.filesize').each(function(ix, elt) {
        var fs = filesize($(elt).text());
        $(elt).empty().append(fs);
    });
    var moreButton = function(elt, callback) {
        $(elt).empty().append('<button>More</button>')
            .find('button').button().on('click', callback);
    };
    var more_comments = function(url) {
        $.getJSON(url,function(r) {
            $.each(r.comments, function(ix, c) {
                $('#recent_comments').append_comment(c, false, c.bin_pid, c.bin_lid);
            });
            if(r.hasNext) {
                moreButton($('#more_comments'),function() {
                    more_comments(r.next);
                });
            } else {
                $('#more_comments').empty();
            }
        });
    };
    more_comments('/{{ts_label}}/api/recent_comments');
    var more_tags = function(url) {
        $.getJSON(url,function(r) {
            $.each(r.tags, function(ix, t) {
                $('#recent_tags').append('<div class="major bottom_space">'+
                    t.author + ' tagged ' + 
                    '<a href="'+t.bin_pid+'.html">'+t.bin_lid+'</a> as '+
                    '<span class="the_tag"></span> '+
                    '<span class="timeago" title="' + t.ts + '"></span>'+
                '</div>').find('div:last .timeago').timeago()
                .end().find('div:last .the_tag').addTag('{{ts_label}}',t.tag);
            });
            if(r.hasNext) {
                moreButton($('#more_tags'), function() {
                    more_tags(r.next);
                });
            } else {
                $('#more_tags').empty();
            }
        });
    };
    more_tags('/{{ts_label}}/api/recent_tags');
    $('#tag_cloud').tagCloud('{{ts_label}}');
    $('button.search').button().on('click', function() {
        var query = $('input.search').val();
        var url = '/{{ts_label}}/search_comments?' + $.param({q:query});
        window.location.href = url;
    });
    var input = $('input.search');
    var tmp = input.focus().val();
    input.val('').val(tmp);
    $(input).on('keyup',function(e) {
        if(e.keyCode!=13) { return; }
        $('button.search').click();
    });
});
</script>
{% endblock %}
{% block content %}
<div class="major">
    <div class="title inline">Time series {{ts_label}}</div>
    <div style="float:right;">
        <input class="search"></input>
        <button class="search">Search</button><br/>
        Search comments
    </div>
</div>
<br/>
<div class="major bottom_space">
    <div>
        Total bins: {{total_bins}}
    </div>
    <div>
        Total data volume: <span class="filesize">{{total_data_volume}}</span>
    </div>
    <div>
        Most recent bin: <a href="{{mrb.pid}}.html"><span class="timeago" title="{{mrb.date}}"></span></a>
    </div>
</div>
<div style="width:1024px;margin-left:auto;margin-right:auto;">
<div style="float:left">
    <h3>Recent comments</h3>
    <div id="recent_comments"></div>
    <div id="more_comments"></div>
</div>
<div style="float:right; width:480px">
    <h3>Tag cloud</h3>
    <div id="tag_cloud"></div>
    <br/>
    <h3>Recent tags</h3>
    <br/>
    <div id="recent_tags"></div>
    <div id="more_tags"></div>
</div>
</div>
{% endblock %}
